@font-face {
    font-family: 'Segoe UI Black';
    font-weight: 900;
    src: url('../fonts/SegoeUIBlack/SegoeUIBlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/SegoeUIBlack/SegoeUIBlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/RobotoRegular/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/RobotoRegular/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/RobotoLight/RobotoLight.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/RobotoBold/RobotoBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}